@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", monospace;
  transition: 0.4s all ease;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #284750;
  color: white;
  padding: 3rem 7rem;
  /* position: fixed; */
  /* width: 8vw; */
}

.logo {
  font-size: 260px;
  cursor: pointer;
}

nav ul {
  list-style: none;
  /* background: #8c52ff; */
}

ul li {
  display: inline-block;
  position: relative;
}

.navlist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

nav ul li a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

nav ul li ul.dropdown li {
  display: block;
}

nav ul li ul.dropdown {
  width: 10rem;
  background: black;
  position: absolute;
  z-index: 999;
  padding: 0.5rem 0.1rem;
  display: none;
}

nav ul li a:hover {
  /* background: #6d30e9; */
  color: #fe8f9c;
}

.dropdown {}

.dropdown li a:hover {
  color: white;
  background: #284750;
}

nav ul li:hover ul.dropdown {
  display: block;
}

.mar {
  margin: 0.5rem 0.1 rem;
}

#rd {
  color: #fe8f9c;
}

.login-button {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.login-button a {
  cursor: pointer;
}

.login-button button {
  padding: 1rem 2rem;
  border-radius: 39px;
  background: #111c20;
  color: white;
  font-weight: bold;
  font-size: medium;
  border: none;
  cursor: pointer;
}

.login-button button:hover {
  color: blue;
}

/* ////////////////////////////////////////////////home section //////////////////////// */
.aqua {
  background: rgb(204, 248, 234);
}

section.container {
  background: rgb(204, 248, 234);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding-top: 2rem;
}

section.container2 {
  background: rgb(204, 248, 234);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

section.container2 .hero-image,
section.container .hero-image {
  height: 7rem;
  width: 7rem;
  background: #000;
  background-image: url("./Images/first.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

section.container2 .hero-image2,
section.container .hero-image2 {
  height: 7rem;
  width: 7rem;
  background: #000;
  background-image: url("./Images/vote-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

section.container2 .hero-image3,
section.container .hero-image3 {
  height: 7rem;
  width: 7rem;
  background: #000;
  background-image: url("./Images/super.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

section.container2 .hero-image4,
section.container .hero-image4 {
  height: 7rem;
  width: 7rem;
  background: #000;
  background-image: url("./Images/politics.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

/* /////////////////////////////// papular section /////////////////// */

.Popular {
  /* height: 100vh; */
  padding-bottom: 6rem;
}

.Popular h1 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 2rem;
}

.Popular h3 {
  /* font-size: 40px; */
  padding: 0.8rem 0 1.5rem 1rem;
}

.popular-container {
  background: #284750;
  color: white;
  margin: 0 2rem;
  border-radius: 10px;
  padding: 0 0.6rem 0.5rem 0.6rem;

  /* height: 100vh; */
}

.popular-container .popular-img {
  height: 70vh;
  /* width: 70rem; */
  background: #000;
  background-image: url("./Images/Trump.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.Predict {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  border-radius: 39px;
  border: 1px solid white;
  margin-top: 1rem;
  cursor: pointer;
  background: #000;
  color: white;
}

.Predict:hover {
  color: blue;
}

/* ////////////////////////////////Predictions///////////////////////// */

.Predictions h1 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 2rem;
}

.Predictions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.Predictions-card {
  border-radius: 10px;
}

.Predictions {
  /* height: 100vh; */
  padding-bottom: 3rem;
}

.Predictions-container .Predictions-card {
  /* height: 100vh; */
  width: 30vw;
  background: #3d6370;
  color: white;
}

.Predictions-container .Predictions-card .status {
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.Predictions-container .Predictions-card .status div {
  border-radius: 10px;
  background: #000;
  color: white;
  padding: 0.8rem 2rem;
  font-size: large;
}

.Predictions-container .Predictions-card .status div span {
  font-weight: bold;
}

.Predictions-card-child {
  height: 100%;
  width: 100%;
  background: #0d1518;
  color: white;
  padding-bottom: 7rem;
  border-radius: 10px;
}

.Predictions-card-child p {
  font-size: 20px;
  padding: 2rem 2rem;
  height: 5rem;
}

.prediction-card-img {
  height: 15rem;
  background-image: url("./Images/p1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 0 2rem;
  margin-bottom: 8rem;
}

.prediction-card-img2 {
  height: 15rem;
  background-image: url("./Images/p2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 0 2rem;
  margin-bottom: 8rem;
}

.prediction-card-img3 {
  height: 15rem;
  background-image: url("./Images/p3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 0 2rem;
  margin-bottom: 8rem;
}

.prediction-card-img4 {
  height: 15rem;
  background-image: url("./Images/p4.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 0 2rem;
  margin-bottom: 8rem;
}

.prediction-card-img5 {
  height: 15rem;
  background-image: url("./Images/p1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 0 2rem;
  margin-bottom: 8rem;
}

.prediction-card-img6 {
  height: 15rem;
  background-image: url("./Images/p6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 0 2rem;
  margin-bottom: 8rem;
}

.Predictions-card-child-button {
  background: #000;
  text-align: center;
  margin: 0 2rem;
  padding: 1rem 6rem;
  border: 1px solid white;
  border-radius: 30px;
  cursor: pointer;
}

.Predictions-card-child-button:hover {
  color: blue;
}

.browser-button {
  text-align: center;
  padding: 1rem 4rem;
  background: #0d1518;
  color: white;
  cursor: pointer;
  border-radius: 30px;
}

/* ////////////////////////////////Trending///////////////////////// */

.Trending {
  height: 100vh;
}

.Trending h1 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 2rem;
}

.trending-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  gap: 2rem;
  background: #3d6370;
  height: 14rem;
  width: 18rem;
  border-radius: 20px;
}

/* ////////////////////////////////how it work setion///////////////////////// */
section.how-work {
  padding-bottom: 12rem;
}

.how-work h1 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.work-card {
  height: 30rem;
  width: 24rem;
  border-radius: 10px;
  background: #284750;
  color: white;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-card2 {
  margin-top: 1rem;
  height: 30rem;
  width: 37rem;
  border-radius: 10px;
  background: #284750;
  color: white;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-card p {
  padding: 0 1rem;
}

.sec-card-container,
.first-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* //////////////////////////////// Revolotion political setion///////////////////////// */
.about-image {
  height: 10rem;
  width: 10rem;
  background: #000;
  background-image: url("./Images/about-icon-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.about-image2 {
  height: 10rem;
  width: 10rem;
  background: #000;
  background-image: url("./Images/about-icon-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.about-image3 {
  height: 10rem;
  width: 10rem;
  background: #000;
  background-image: url("./Images/about-icon-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.about-image4 {
  height: 10rem;
  width: 10rem;
  background: #000;
  background-image: url("./Images/about-icon-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.about-card {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  gap: 2rem;
  background: #3d6370;
  height: 24rem;
  width: 18rem;
  border-radius: 20px;
}

/* /////////////////////////////// question setion ///////////////// */
section.ques {
  padding-bottom: 3rem;
}

.question {
  font-size: 2rem;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  /* width: 100vw; */
  background: rgba(0, 0, 0, 1);
  background-image: url("./Images/question.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

/* /////////////////////////// subscribe section //////////////////// */
section.subscribe {
  display: grid;
  place-items: center;
  padding-bottom: 5rem;
}

section.subscribe p {
  padding: 1rem 12rem;
}

section.subscribe h1 {
  padding: 2rem 0;
  font-size: 40px;
}

.sub-buttons button {
  padding: 1rem 3rem;
  background: #000;
  color: white;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
}

.sub-buttons button:hover {
  color: blue;
}

/* /////////////////////////// subscribe section //////////////////// */

section.contact {
  padding: 3rem 12rem;
}

section.contact .contact-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  /* width: 100vw; */
  background: rgba(0, 0, 0, 1);
  background-image: url("./Images/contact.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  color: white;
}

section.contact .contact-main p:first-child {
  font-size: 1.6rem;
  color: rgb(1, 39, 1);
}

section.contact .contact-main .input {
  height: 4rem;
  width: 60vw;
  margin-top: 3rem;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.contact .contact-main .input input {
  width: 100%;
  height: 100%;
  padding: 0% 1rem;
  background: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: large;
}

section.contact .contact-main .input p {
  padding: 0.6rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.4rem;
}

/* //////////////////////////////////////foooter section /////////////////////?
 */
.footer-container {
  padding: 0% 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.footer-container .footer-navlist ul {
  display: flex;
  gap: 2rem;
}

.footer-container .footer-navlist ul li {
  background: #000;
  color: white;
  padding: 0.3rem 0.3rem;
  cursor: pointer;
}

.bottom-footer {
  border-top: 1px solid rgb(35, 35, 35);
  margin: 2rem 6rem;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-footer p {
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.bottom-footer p:hover {
  border: none;
}

.bottom-footer ul {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 3rem;
}

.bottom-footer ul li {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 2rem;
  width: 2rem;
  background: #000;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}